*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;

}
body{
    background-color:teal;

}
.container{
    width: 400px;
    padding: 25px 35px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: whitesmoke;
    border-radius: 10px;

}
.container h2{
    color: black;
    font-size: 30px;
}

.container input{
    width: 100%;
    font-size: 16px;
    padding:15px;
    margin-bottom: 20px;
    border: 2px solid teal;
    border-radius: 10px;
    outline: none;
    background: #f2f2f2;
    margin: 10px 0;

    

}


.container button{
    width: 100%;
    font-size: 16px;
    padding:15px;
    border-radius: 10px ;
    border: 2px solid #05AA6D;
    background-color:#05AA6D;
    cursor: pointer;


}


.container .QR img{
    display: flex;
    align-items: center;
    justify-content: center;
    margin:  20px auto;

    

}

h1{
   
    position: absolute;
    top: 5%;
    left: 38%;
    font-size: 3rem;
}
h1 span{
    color: #FF8FAB;
    font-size: 5rem;
    border-bottom: 2px solid #FF8FAB;
}